* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  text-decoration-style: none;
  list-style: none;
  box-sizing: border-box;
}
textarea:focus,
input:focus,
select:focus {
  border-color: none !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
